**/*.ts
cli/package.json
cli/yarn.lock
cli/src
cli/node_modules
!cli/node_modules/react/umd/*.min.js
!cli/node_modules/react-dom/umd/*.min.js
!cli/node_modules/vscode-xterm/lib/xterm.css
!cli/node_modules/xterm/css/xterm.css
linux
win32
